
body {
	background-color:#ffffff00;
}
h1 {
	color: #000000;
	font-family: monospace;
	text-align: center;
	text-decoration: underline;

}


#dash {
	
	background-color: black;
	color: white;
	text-align: center;
	font-family: monospace;
	font-size: 15px;
	opacity: 100;
	padding: 10px 5px;
	border: 2px solid black;
	border-radius: 8px;
	transition-duration: 0.5s;

}
#dash:hover{

	background-color: white;
	color: black;
	text-align: center;
	font-family: monospace;
	font-size: 15px;
	opacity: 100;
	padding: 10px 5px;
	border: 2px solid black;
	border-radius: 8px; 
}
#size{
   font-size: 18px;
   font-family: monospace;
   color: black;
   transition-duration: 1s;
   text-align: left;
   margin: 30px 30px;
   
}


#imghome{
	height: 200px;
	width:200px;
	margin: 15px 15px ;
	margin-right: 30px;
	border-radius: 10px;
	margin-bottom: 30px;
	float: left;


}